{
  "executor": {
    "baseUrl": "http://172.1.1.1:9999",
    "accessToken": "123",
    "executorKey": "xxl-job-xxx",
    "scheduleCenterUrl": "http://172.1.1.2:8080/xxl-job-admin",
    "logStorage": "local"
  }
}